*{
    font-size: large;
    margin: 3px;
    padding: 5px;
}
h1{
    color: red;
    text-align: bold;
    text-align: center;
    text-decoration: underline;
    

}
 input, select{
    border-radius: 10px;
    
    
 }
 input:hover{
    border: 2px solid red;
 }
 body{
    text-align: center;
 }
 